#include "resources/resource.h"
#include "winres.h"

LANGUAGE LANG_KOREAN, SUBLANG_KOREAN_"Korea, Republic Of"

STRINGTABLE
BEGIN
    IDS_UPDATES_CHECKING_T "업데이트 확인 중..."
    IDS_UPDATES_AVAILABLE_T "버전 %d.%d.%d.%d 사용 가능"
    IDS_UPDATES_AVAILABLE_T_U "새 버전 사용 가능"
    IDS_UPDATES_AVAILABLE_B "업데이트하려면 작업 표시줄을 마우스 오른쪽 단추로 클릭하고 "속성", "업데이트"를 선택하십시오. 업데이트에 대한 자세한 내용은 여기를 클릭하십시오."
    IDS_UPDATES_ISLATEST_T "사용 가능한 업데이트 없음"
    IDS_UPDATES_ISLATEST_B "나중에 확인하세요."
    IDS_UPDATES_CHECKFAILED_T "업데이트를 확인할 수 없습니다."
    IDS_UPDATES_CHECKFAILED_B "인터넷에 연결되어 있고 원격 서버가 온라인 상태인지 확인하십시오."
    IDS_UPDATES_DOWNLOADING_T "업데이트 다운로드 및 설치 중"
    IDS_UPDATES_SUCCESS_T "업데이트 성공"
    IDS_UPDATES_DLFAILED_T "업데이트 실패"
    IDS_UPDATES_DLFAILED_B "이 업데이트를 설치하려고 할 때 요청이 거부되었거나 오류가 발생했습니다."
    IDS_UPDATES_INSTALLEDVER "설치된 버전: %d.%d.%d.%d"
    IDS_UPDATES_PROMPT "ExplorerPatcher 업데이트를 설치하시겠습니까?\n\n다운로드 소스:\n%s"

    IDS_SYM_DL_T "OS 빌드 %s용 심볼 다운로드 중입니다. 잠시 기다려 주세요…"
    IDS_SYM_DL_B "몇 분이 걸릴 수 있습니다. 다운로드가 완료될 때까지 ExplorerPatcher는 기능이 제한되거나 실패할 수 있습니다. 심볼에 대한 자세한 내용은 여기를 클릭하십시오."
    IDS_SYM_SUCCESS_T "OS 빌드 %s에 대한 기호가 성공적으로 다운로드되었습니다."
    IDS_SYM_SUCCESS_B "탐색기를 다시 시작하여 정상적인 기능을 복구하세요."
    IDS_SYM_FAILEDSOME_T "OS 빌드 %s에 대한 일부 기호가 다운로드되었습니다."
    IDS_SYM_FAILEDSOME_B "다른 심볼을 다운로드할 수 없습니다. 현재 OS 빌드가 너무 최신이거나, 인터넷의 연결 상태가 그 원인일 수 있습니다."
    IDS_SYM_FAILEDALL_T "OS 빌드 %s에 대한 심볼 다운로드에 실패했습니다."
    IDS_SYM_FAILEDALL_B "이 빌드의 모든 필요한 기호를 다운로드할 수 없습니다. 현재 OS 빌드가 너무 최신이거나, 인터넷의 연결 상태가 그 원인일 수 있습니다."

    IDS_CRASH_TITLE "불행히도 탐색기가 중단되었습니다. :("
    IDS_CRASH_BODY "%2$d 초 내에 시작될 때 %1$s 예기치 않은 탐색기가 중단된 것 같습니다. 이 충돌은 ExplorerPatcher에 의해 발생할 수 있습니다. 인식하지 못할 수 있습니다(예: 새 OS 빌드에서 실행 중인 경우). "%3$s"">ExplorerPatcher를 업데이트하여 탐색기를 다시 시작</A>할 수 있습니다.\n• GitHub에서 <A HREF=""%4$s"">릴리스를 확인합니다. 또는</A>, <A HREF=""%5$s"">현재 상태 확인</A>, <A HREF=""%6$s"">토론 참여</A> >또는 <A HREF=""%7$s"">최신 issue를 확인</A>할 수 있습니다.\n• ExplorerPatcher가 원인이 아니라고 생각되면 최근에 설치된 셸 확장 기능 또는 유사한 유틸리티를 제거하십시오.\n• 문제가 지속되면 <A HREF=""%8$s"">ExplorerPatcher를 제거</A>하고 수정 버전이 게시되었습니다. 나중에 다시 설치할 수 있습니다. 제거해도 ExplorerPatcher 설정이 유지되므로 안심하십시오. \ n \ n 불편을 끼쳐 드려 죄송합니다. 최선을 다하고 있습니다.\n\nExplorerPatcher는 유지 관리 작업 및 필요한 작업을 수행할 수 있도록 다음 탐색기를 다시 시작할 때까지 비활성화됩니다."
    IDS_CRASH_ONCE "한 번"
    IDS_CRASH_MULTIPLE "%d번"
    IDS_CRASH_DISMISS "확인"

    IDS_TB "작업 표시줄"

    IDS_TB_STYLE "작업 표시줄 스타일"
    IDS_TB_STYLE_0 "Windows 11(기본값)"
    IDS_TB_STYLE_1 "윈도우 10"
    IDS_TB_MORE "설정 앱에서 작업 표시 줄의 다른 옵션"
    IDS_TB_CUSTOMIZETRAYICONS "알림 영역 아이콘 맞춤설정"
    IDS_TB_CUSTOMIZESYSTEMICONS "알림 영역의 시스템 아이콘 사용자 정의"
    IDS_TB_PRIMARYTBPOS "화면의 기본 작업 표시 줄 위치"
    IDS_TB_POSBOTTOM "아래(기본값)"
    IDS_TB_POSTOP "위"
    IDS_TB_POSLEFT "왼쪽"
    IDS_TB_POSRIGHT "오른쪽"
    IDS_TB_SECONDARYTBPOS "화면에서 보조 작업 표시줄 위치"
    IDS_TB_EXTRABTN "추가 버튼"
    IDS_TB_EXTRABTN_0 "숨기기(기본값)"
    IDS_TB_EXTRABTN_2 "보기, Cortana 열기"
    IDS_TB_EXTRABTN_1 "보기, 위젯 열기"
    IDS_TB_SEARCHMODE_W11 "검색 버튼 표시"
    IDS_TB_SEARCHMODE "검색"
    IDS_TB_SEARCHMODE_0 "표시되지 않음"
    IDS_TB_SEARCHMODE_1 "검색 아이콘 표시"
    IDS_TB_SEARCHMODE_2 "검색창 표시"
    IDS_TB_CORTANABTN "Cortana 버튼 표시"
    IDS_TB_TASKVIEWBTN "작업 보기 버튼 표시"
    IDS_TB_WIDGETSBTN "위젯 버튼 표시"
    IDS_TB_AUTOHIDETB "작업 표시줄을 자동으로 숨기기"
    IDS_TB_STARTBTNSTYLE "시작 버튼 스타일"
    IDS_TB_STARTBTNSTYLE_0 "Windows 10 (기본값)"
    IDS_TB_STARTBTNSTYLE_1 "윈도우 11"
    IDS_TB_PRIMARYTBALIGN "기본 작업 표시줄 배치"
    IDS_TB_TBALIGN_0 "화면 끝(기본값)"
    IDS_TB_TBALIGN_1 "중앙"
    IDS_TB_TBALIGN_5 "중앙, 들어갈 수 없는 경우 화면 가장자리"
    IDS_TB_TBALIGN_3 "시작 버튼과 함께 가운데"
    IDS_TB_TBALIGN_7 "시작 버튼과 함께 중앙, 들어갈 수 없는 경우 화면 가장자리"
    IDS_TB_SECONDARYTBALIGN "보조 작업 표시줄 배치"
    IDS_TB_PRIMARYTBGLOM "기본 작업 표시줄 아이콘 모음"
    IDS_TB_GLOM_0_D "항상(기본값)"
    IDS_TB_GLOM_0 "항상"
    IDS_TB_GLOM_1 "작업 표시줄에 들어갈 수 없는 경우"
    IDS_TB_GLOM_2_D "없음(기본값)"
    IDS_TB_GLOM_2 "없음"
    IDS_TB_SECONDARYTBGLOM "보조 작업 표시줄 아이콘 모음"
    IDS_TB_ICONSIZE "작업 표시줄 아이콘 크기"
    IDS_TB_ICONSIZE_1 "작은"
    IDS_TB_ICONSIZE_0 "대형(기본값)"

    IDS_TRAY "시스템 트레이"

    IDS_TRAY_SKINMENUS "작업 표시줄 및 트레이 팝업 메뉴 스킨"
    IDS_TRAY_CENTERMENUS "트레이 아이콘의 팝업 메뉴를 가운데로 설정"
    IDS_TRAY_FLYOUTMENUS "트레이 아이콘의 팝업 메뉴를 플라이아웃 동작으로 설정"
    IDS_TRAY_TOUCHKB "터치 키보드 버튼 표시"
    IDS_TRAY_SHOWSECONDS "시계에 초 표시"
    IDS_TRAY_CCBTN "제어 센터 버튼 표시"
    IDS_TRAY_SHOWDESKTOPBTN "바탕화면 버튼 표시"
    IDS_TRAY_SHOWDESKTOPBTN_1 "사용(기본값)"
    IDS_TRAY_SHOWDESKTOPBTN_0 "사용 안 함"
    IDS_TRAY_SHOWDESKTOPBTN_2 "표시되지 않음"
    IDS_TRAY_SKINICONS "시스템 트레이 아이콘에 Windows 11 스타일 적용"
    IDS_TRAY_REPLACENETWORK_L1 "네트워크 아이콘을 마우스 오른쪽 버튼으로 클릭하고 ""네트워크 및 인터넷 설정 열기"""
    IDS_TRAY_REPLACENETWORK_L2 "선택 시 열기"
    IDS_TRAY_REPLACENETWORK_0 "설정 앱의 네트워크 설정(기본값)"
    IDS_TRAY_REPLACENETWORK_1 "제어판 네트워크와 공유"
    IDS_TRAY_REPLACENETWORK_2 "제어판 네트워크 연결"
    IDS_TRAY_SYSICONBEHAVIOR "트레이에서 시스템 아이콘 클릭시의 팝업 스타일 설정 :"
    IDS_TRAY_NETWORK "네트워크"
    IDS_TRAY_NETWORK_6 "제어 센터"
    IDS_TRAY_NETWORK_5 "Windows 11 Wi-Fi 스타일"
    IDS_TRAY_NETWORK_0 "Windows 10 스타일 (기본값)"
    IDS_TRAY_NETWORK_2 "Windows 8 스타일"
    IDS_TRAY_NETWORK_1 "설정 앱의 네트워크 설정"
    IDS_TRAY_SOUND "소리"
    IDS_TRAY_SOUND_1 "Windows 10 스타일 (기본값)"
    IDS_TRAY_SOUND_0 "Windows 7 스타일"
    IDS_TRAY_CLOCK "시계"
    IDS_TRAY_CLOCK_2 "Windows 11 스타일"
    IDS_TRAY_CLOCK_0 "Windows 10 스타일(기본값)"
    IDS_TRAY_CLOCK_1 "윈도우 7"
    IDS_TRAY_CLOCK_2_W10 "액션 센터"
    IDS_TRAY_BATTERY "배터리"
    IDS_TRAY_BATTERY_0 "Windows 10 스타일(기본값)"
    IDS_TRAY_BATTERY_1 "윈도우 7"
    IDS_TRAY_LANGSWITCHER "언어 전환"
    IDS_TRAY_LANGSWITCHER_0 "Windows 11 (기본값)"
    IDS_TRAY_LANGSWITCHER_1_21H2 "Windows 10(""언어 설정"" 링크 있음)"
    IDS_TRAY_LANGSWITCHER_7 "윈도우 10"
    IDS_TRAY_LANGSWITCHER_1 "Windows 10 (""언어 설정"" 링크 있음) (애니메이션 없음)"
    IDS_TRAY_LANGSWITCHER_4 "Windows 10 (애니메이션 없음)"

    IDS_EXP "파일탐색기"

    IDS_EXP_SHEXT_L1 "(**)이있는 설정이 ""파일 열기""또는 ""파일 저장""대화 상자에서 작동하려면 "
    IDS_EXP_SHEXT_L2 "다음 옵션을 사용하여 이 프로그램을 셸 확장으로 등록합니다."
    IDS_EXP_SHEXT_LEARN "자세히 보기"
    IDS_EXP_SHEXT_REGISTER "쉘 확장으로 등록"
    IDS_EXP_DISABLECTXMENU "Windows 11 컨텍스트 메뉴 비활성화"
    IDS_EXP_LEGACYFTDIALOG "항상 레거시 파일 전송 대화 상자 사용"
    IDS_EXP_CLASSICDRIVEGROUP "클래식 드라이브 그룹 사용"
    IDS_EXP_CTRLINTF "제어 인터페이스"
    IDS_EXP_CTRLINTF_0_W11 "Windows 11 명령 모음(기본값)"
    IDS_EXP_CTRLINTF_3 "Windows 11 명령 모음(탭 없음, 클래식 주소 표시줄)"
    IDS_EXP_CTRLINTF_4 "Windows 11 명령 모음(클래식 주소 표시줄)"
    IDS_EXP_CTRLINTF_0_W10 "Windows 10 리본(기본값)"
    IDS_EXP_CTRLINTF_1_W11 "Windows 10 리본"
    IDS_EXP_CTRLINTF_2 "Windows 7 명령 모음"
    IDS_EXP_NEWWINDOWS "다음 설정은 새로 만든 파일 탐색기 창에 적용됩니다."
    IDS_EXP_IMMERSIVEMENUS "Windows 10 컨텍스트 메뉴를 표시 할 때 몰입 형 메뉴 사용"
    IDS_EXP_DISABLENAVBAR "네비게이션 바 사용 안 함"
    IDS_EXP_DISABLESEARCHBAR "현대 검색창 사용 안함"
    IDS_EXP_SHRINKADDRESSBAR "주소창의 높이 축소"
    IDS_EXP_HIDESEARCHBAR "검색바를 완전히 숨기기"
    IDS_EXP_TITLEBAR "타이틀 바"
    IDS_EXP_TITLEBAR_0 "아이콘 및 제목 표시 (기본값)"
    IDS_EXP_TITLEBAR_1 "제목을 숨기고 아이콘 표시"
    IDS_EXP_TITLEBAR_2 "아이콘을 숨기고 제목 표시"
    IDS_EXP_TITLEBAR_3 "아이콘 및 제목 숨기기"
    IDS_EXP_MICA "Windows 7 탐색기 창의 탐색 모음에 운모 효과 적용"

    IDS_START "시작 메뉴"

    IDS_START_STYLE "시작 메뉴 스타일"
    IDS_START_STYLE_0 "Windows 11 (기본값)"
    IDS_START_STYLE_1 "윈도우 10"
    IDS_START_MORE "시작메뉴의 추가 설정"
    IDS_START_POSITION "화면에 배치"
    IDS_START_POSITION_0 "화면 쪽"
    IDS_START_POSITION_1 "중앙 (기본값)"
    IDS_START_MAXFREQAPPS "자주 사용하는 앱의 최대개수"
    IDS_START_MAXFREQAPPS_0 "없음"
    IDS_START_MAXFREQAPPS_6 "6 (기본값)"
    IDS_START_MAXFREQAPPS_99999 "무제한"
    IDS_START_MONITOROVERRIDE_L1 "다중 모니터를 사용할 때 시작버튼을 누르면,"
    IDS_START_MONITOROVERRIDE_L2 "다음 모니터에서 열기"
    IDS_START_MONITOROVERRIDE_1 "기본 모니터 (기본값)"
    IDS_START_MONITOROVERRIDE_0 "커서가 있는 모니터"
    IDS_START_MONITOROVERRIDE_2 "모니터 #2"
    IDS_START_MONITOROVERRIDE_3 "모니터 #3"
    IDS_START_MONITOROVERRIDE_4 "모니터 #4"
    IDS_START_MONITOROVERRIDE_5 "모니터 #5"
    IDS_START_MONITOROVERRIDE_6 "모니터 #6"
    IDS_START_MONITOROVERRIDE_7 "모니터 #7"
    IDS_START_MONITOROVERRIDE_8 "모니터 #8"
    IDS_START_MONITOROVERRIDE_9 "모니터 #9"
    IDS_START_NORECOMMENDED 시작메뉴에서 ""추천""을 비활성화"
    IDS_START_MAKEALLAPPSDEFAULT """모든 앱""이 확장된 상태로 시작메뉴 열기"
    IDS_START_SHOWMORETILES "시작메뉴에서 더 많은 아이콘이 보이게"
    IDS_START_CORNERPREF "모퉁이 설정"
    IDS_START_CORNERPREF_1 "둥근 모서리, 플로팅 메뉴"
    IDS_START_CORNERPREF_2 "둥근 모서리, 도킹 메뉴"
    IDS_START_CORNERPREF_0 "둥근 없음"
    IDS_START_DISPLAYMODE "표시 모드"
    IDS_START_DISPLAYMODE_0 "기본"
    IDS_START_DISPLAYMODE_1 "시작 메뉴"
    IDS_START_DISPLAYMODE_2 "전체 화면 시작 메뉴"
    IDS_START_APPLIST "앱 목록"
    IDS_START_APPLIST_0 "표시"
    IDS_START_APPLIST_3 "표시되지 않음"
    IDS_START_APPLIST_1 "사용 안 함"
    IDS_START_NOTICE "반드시 읽어보십시오 :이 기능에 대한 중요한 알림 (온라인)"
    IDS_START_WIN10_NOTICE "이전 버전의 Windows 10에서는 일부 설정을 사용할 수 없습니다."

    IDS_AT "창 전환"

    IDS_AT_STYLE "창 전환(Alt+Tab) 스타일"
    IDS_AT_STYLE_0_W11 "Windows 11(기본값)"
    IDS_AT_STYLE_0_W10 "Windows 10(기본값)"
    IDS_AT_STYLE_3 "윈도우 10"
    IDS_AT_STYLE_1 "윈도우 NT"
    IDS_AT_STYLE_2 "Simple Window Switcher"
    IDS_AT_SWS_INCLUDEWALLPAPER "바탕화면을 '창 전환'의 마지막에 표시합니다."
    IDS_AT_SWS_PRIMARYONLY "항상 기본 모니터에 '창 전환' 표시"
    IDS_AT_SWS_PERMONITOR "마우스커서가 위치한 모니터에만 '창 전환'을 표시합니다"
    IDS_AT_SWS_GROUPWINDOWS "'창 전환' 시 같은 앱의 창이 여러개인 경우 하나의 그룹으로 표시합니다."
    IDS_AT_SWS_NOPERAPP "'창 전환' 시 현재앱의 창에서만 이동하는 단축키를 비활성화합니다 (단축키, Alt + %c )"
    IDS_AT_SWS_THEME "테마"
    IDS_AT_SWS_THEME_0 "기본"
    IDS_AT_SWS_THEME_1 "아크릴"
    IDS_AT_SWS_THEME_2 "운모(항상 불투명)"
    IDS_AT_SWS_OPACITY "불투명도"
    IDS_AT_SWS_OPACITY_100 "불투명도"
    IDS_AT_SWS_OPACITY_95 "95 % (기본값)"
    IDS_AT_SWS_COLORSCHEME "색상 색상"
    IDS_AT_SWS_COLORSCHEME_0 "시스템 설정 준수(기본값)"
    IDS_AT_SWS_COLORSCHEME_1 "라이트"
    IDS_AT_SWS_COLORSCHEME_2 "다크"
    IDS_AT_SWS_CORNERPREF "모퉁이 설정"
    IDS_AT_SWS_CORNERPREF_2 "올림(기본값)"
    IDS_AT_SWS_CORNERPREF_3 "조금만 반올림"
    IDS_AT_SWS_CORNERPREF_1 "둥근 없음"
    IDS_AT_SWS_ROWHEIGHT "열 높이"
    IDS_AT_SWS_ROWHEIGHT_230 "230 pt (기본값)"
    IDS_AT_SWS_MAXWIDTH "최대 너비(화면 너비 비율)"
    IDS_AT_SWS_MAXWIDTH_100 "100%(비추천)"
    IDS_AT_SWS_MAXWIDTH_80 "80%(기본값)"
    IDS_AT_SWS_MAXHEIGHT "최대 높이(화면 높이에 대한 비율)"
    IDS_AT_SWS_MAXHEIGHT_100 "100%(비추천)"
    IDS_AT_SWS_MAXHEIGHT_80 "80%(기본값)"
    IDS_AT_SWS_PADDING "창 여백"
    IDS_AT_SWS_PADDING_20 "20pt(기본값)"
    IDS_AT_SWS_PADDING_0 "없음"
    IDS_AT_SWS_SHOWDELAY "표시 지연"
    IDS_AT_SWS_SHOWDELAY_0 "없음"
    IDS_AT_SWS_SHOWDELAY_25 "25ms"
    IDS_AT_SWS_SHOWDELAY_50 "50ms"
    IDS_AT_SWS_SHOWDELAY_75 "75ms"
    IDS_AT_SWS_SHOWDELAY_100 "100ms(기본값)"
    IDS_AT_SWS_SHOWDELAY_125 "125ms"
    IDS_AT_SWS_SHOWDELAY_150 "150ms"
    IDS_AT_SWS_SHOWDELAY_200 "200ms"
    IDS_AT_SWS_SHOWDELAY_300 "300ms"
    IDS_AT_SWS_SHOWDELAY_400 "400ms"
    IDS_AT_SWS_SHOWDELAY_500 "500ms"
    IDS_AT_SWS_SCROLLWHEEL "휠 스크롤로 선택 항목 변경"
    IDS_AT_SWS_SCROLLWHEEL_0 "해제(기본값)"
    IDS_AT_SWS_SCROLLWHEEL_1 "커서가 스위처에 있는 경우"
    IDS_AT_SWS_SCROLLWHEEL_2 "항상"
    IDS_AT_SWS_LEARN "Simple Window Switcher에 대해 자세히 알아보기"

    IDS_WEATHER "날씨"

    IDS_WEATHER_SHOW "작업 표시줄에 날씨 표시"
    IDS_WEATHER_LOC "위치"
    IDS_WEATHER_LOC_PROMPT "도시 또는 우편 번호를 검색합니다. 프로그램은 Google에서 ""/* 입력한 위치*/날씨""를 검색합니다. 기본값(현재 위치)은 비워 둡니다."
    IDS_WEATHER_LOC_DEFAULT "현재 위치 (기본값)"
    IDS_WEATHER_LAYOUT "레이아웃"
    IDS_WEATHER_LAYOUT_0 "아이콘 및 개요 (기본값)"
    IDS_WEATHER_LAYOUT_3 "아이콘 및 온도"
    IDS_WEATHER_LAYOUT_1 "아이콘 전용"
    IDS_WEATHER_LAYOUT_4 "온도 전용"
    IDS_WEATHER_LAYOUT_5 "온도 및 개요"
    IDS_WEATHER_SIZE "위젯 크기"
    IDS_WEATHER_SIZE_0 "자동 (내용에 맞게) (기본값)"
    IDS_WEATHER_SIZE_2 "자동 (내용에 맞게) 임계 값 있음"
    IDS_WEATHER_SIZE_1 "고정"
    IDS_WEATHER_POSITION "위젯 위치"
    IDS_WEATHER_POSITION_0 "오른쪽/하단(기본값)"
    IDS_WEATHER_POSITION_1 "왼쪽 / 상단"
    IDS_WEATHER_UPDATEFREQ "업데이트 빈도"
    IDS_WEATHER_UPDATEFREQ_60 "분당"
    IDS_WEATHER_UPDATEFREQ_300 "5 분마다"
    IDS_WEATHER_UPDATEFREQ_900 "5 분마다"
    IDS_WEATHER_UPDATEFREQ_1200 "20 분마다 (기본값)"
    IDS_WEATHER_UPDATEFREQ_1800 "30 분마다"
    IDS_WEATHER_UPDATEFREQ_3600 "매시간마다"
    IDS_WEATHER_UPDATEFREQ_7200 "몇 시간 간격"
    IDS_WEATHER_TEMPUNIT "온도 단위"
    IDS_WEATHER_TEMPUNIT_0 "섭씨/C (기본값)"
    IDS_WEATHER_TEMPUNIT_1 "화씨/F"
    IDS_WEATHER_LANG "언어"
    IDS_WEATHER_LANG_PROMPT "날씨 데이터를 표시할 언어의 짧은 코드를 입력합니다(예:  ""ko"", ""en"", ""ro"", ""de"", ""fr"" 등) 기본값(Windows 언어) 는 비워주세요."
    IDS_WEATHER_LANG_DEFAULT "시스템 언어(기본값)"
    IDS_WEATHER_COLORSCHEME "색상 색상"
    IDS_WEATHER_COLORSCHEME_0 "시스템 설정에 따라(기본값)"
    IDS_WEATHER_COLORSCHEME_1 "빛"
    IDS_WEATHER_COLORSCHEME_2 "다크"
    IDS_WEATHER_CORNERPREF "모퉁이 설정"
    IDS_WEATHER_CORNERPREF_2 "올림(기본값)"
    IDS_WEATHER_CORNERPREF_3 "조금만 반올림"
    IDS_WEATHER_CORNERPREF_1 "둥근 없음"
    IDS_WEATHER_ICONPACK "아이콘 팩"
    IDS_WEATHER_ICONPACK_0 "Microsoft (기본값)"
    IDS_WEATHER_ICONPACK_1 "구글"
    IDS_WEATHER_CONTENTSMODE "위젯 내용 보기"
    IDS_WEATHER_CONTENTSMODE_0 "한 줄로 표시 (기본값)"
    IDS_WEATHER_CONTENTSMODE_1 "가능하면 두 줄로 표시"
    IDS_WEATHER_ZOOM "확대율"
    IDS_WEATHER_ZOOM_100 "100%(기본값)"
    IDS_WEATHER_LEARN "날씨 예보 작업 표시줄 위젯에 대해 자세히 알아보기"
    IDS_WEATHER_LASTUPDATE "마지막 업데이트 날짜: %s, %s."
    IDS_WEATHER_UPDATE "지금 날씨 업데이트"
    IDS_WEATHER_CLEAR "날씨 예보 위젯의 로컬 데이터 지우기"
    IDS_WEATHER_CLEAR_PROMPT "날씨 예보 위젯의 로컬 데이터를 영구적으로 지우시겠습니까?\n\n이것은 내부 구성 요소를 기본 상태로 재설정하지만 설정은 보존됩니다. 데이터를 올바르게 로드하지 않거나 레이아웃 문제가 있는 등의 문제가 해결될 수 있습니다."
    IDS_WEATHER_CLEAR_WAIT "기다려주세요..."
    IDS_WEATHER_CLEAR_SUCCESS "날씨 예보 위젯 데이터가 성공적으로 지워졌습니다."
    IDS_WEATHER_CLEAR_FAILED "데이터를 지우는 중에 오류가 발생했습니다."

    IDS_SP "스포트라이트"

    IDS_SP_HIDEICON """이 사진에 대해 알아보기"" 아이콘 숨기기"
    IDS_SP_DESKTOPMENU "데스크톱 컨텍스트 메뉴 항목"
    IDS_SP_DESKTOPMENU_0 "항목 없음"
    IDS_SP_DESKTOPMENU_32 "다음 사진으로 전환"
    IDS_SP_DESKTOPMENU_48 "사진에 대해 알아보기, 다음 이미지로 전환"
    IDS_SP_DESKTOPMENU_288 "정보, 다음 사진으로 전환"
    IDS_SP_DESKTOPMENU_800 "정보, 저작권, 다음 이미지로 전환"
    IDS_SP_DESKTOPMENU_304 "정보, 사진에 대해 자세히 알아보기, 다음 이미지로 전환"
    IDS_SP_DESKTOPMENU_816 "정보, 저작권 및 사진에 대해 자세히 알아보기 다음 이미지로 전환"
    IDS_SP_DESKTOPMENU_1008 "모든 항목"
    IDS_SP_UPDATEFREQ "업데이트 빈도"
    IDS_SP_UPDATEFREQ_0 "Windows가 최적의 일정을 결정하도록 허용(기본값)"
    IDS_SP_UPDATEFREQ_60 "분당"
    IDS_SP_UPDATEFREQ_300 "5분마다"
    IDS_SP_UPDATEFREQ_900 "15분마다"
    IDS_SP_UPDATEFREQ_1200 "20분마다"
    IDS_SP_UPDATEFREQ_1800 "30분마다"
    IDS_SP_UPDATEFREQ_3600 "매시간마다"
    IDS_SP_UPDATEFREQ_7200 "몇 시간 간격"
    IDS_SP_UPDATEFREQ_21600 "6시간마다"
    IDS_SP_UPDATEFREQ_43200 "12시간마다"
    IDS_SP_UPDATEFREQ_86400 "하루마다"
    IDS_SP_MOREOPTIONS "기타 옵션"

    IDS_OTHER "기타"

    IDS_OTHER_REMEMBERLAST "이 창에서 마지막으로 사용한 섹션 저장"
    IDS_OTHER_CLOCKFLYOUT "Win+C를 누를 때 Microsoft Teams 대신 시계 플라이아웃 열기"
    IDS_OTHER_TOOLBARSEPARATORS "작업 표시 줄의 도구 모음 사이에 구분 기호 표시"
    IDS_OTHER_WINXPROPERTIES "Win + X 메뉴에 프로그램 설정 바로 가기 추가"
    IDS_OTHER_DONTUSEPOWERSHELL "Win+X 메뉴에서 PowerShell 대신 명령 프롬프트 열기"
    IDS_OTHER_WINXACCELERATOR "Win + X 메뉴의 프로그램 설정 항목에서 바로 가기 키 삭제"
    IDS_OTHER_DISABLEOFFICE "Office 단축키(Ctrl+Alt+Shift+Windows 키 조합) 사용 안함"
    IDS_OTHER_DISABLEWINF "Win+F(피드백 허브) 단축키 사용 안함"
    IDS_OTHER_DISABLERC "응용 프로그램 창 모서리를 둥글게 처리 안함"
    IDS_OTHER_DISABLEAEROSNAP "창을 스냅할 때 사분면 사용 안함"
    IDS_OTHER_SNAPASSISTSTYLE "스냅 지원 스타일"
    IDS_OTHER_SNAPASSISTSTYLE_0 "Windows 11 (기본값)"
    IDS_OTHER_SNAPASSISTSTYLE_3 "윈도우 10"
    IDS_OTHER_PWRBTNACTION "데스크톱의 Alt+F4 대화 상자의 기본 동작"
    IDS_OTHER_PWRBTNACTION_256 "사용자 전환"
    IDS_OTHER_PWRBTNACTION_1 "로그아웃"
    IDS_OTHER_PWRBTNACTION_16 "절전"
    IDS_OTHER_PWRBTNACTION_64 "휴면"
    IDS_OTHER_PWRBTNACTION_2 "종료(기본값)"
    IDS_OTHER_PWRBTNACTION_4 "재부팅"
    IDS_OTHER_NOREDIRECT "아래 제어판 항목을 체크하면, 클릭시 설정으로 가지 않습니다."
    IDS_OTHER_NOREDIRECT_SYSTEM "시스템/버전 정보"
    IDS_OTHER_NOREDIRECT_PROGRAMS "프로그램 및 기능"
    IDS_OTHER_NOREDIRECT_DATETIME "날짜 및 시간 조정"
    IDS_OTHER_NOREDIRECT_TRAYICONS "알림 아이콘 맞춤설정"

    IDS_UPDATES "업데이트"

    IDS_UPDATES_POLICY "탐색기가 시작되면"
    IDS_UPDATES_POLICY_1 "사용 가능한 업데이트 알림(기본값)"
    IDS_UPDATES_POLICY_0 "사용 가능한 업데이트가 있는 경우 설치함"
    IDS_UPDATES_POLICY_2 "업데이트 확인 안함"
    IDS_UPDATES_PREFER_STAGING "안정화 여부와 관계없이, 무조건 최신으로 업데이트 (추천하지 않음)"
    IDS_UPDATES_DOWNGRADES "사용중인 버전에 비해서, 업데이트 버전이 더 오래된 경우라도 업데이트를 제안함 (추천하지 않음)"
    IDS_UPDATES_UPDATESERVERS "업데이트 서버:"
    IDS_UPDATES_RELEASES "출시(안정화)"
    IDS_UPDATES_RELEASES_PROMPT "GitHub 릴리스 API를 준수하는 리소스를 제공하는 URL을 지정합니다. 자체 업데이트 서버를 설정하는 방법에 대한 자세한 내용은 위키를 참조하십시오."
    IDS_UPDATES_STAGING "출시(안정화 이전)"
    IDS_UPDATES_STAGING_PROMPT "GitHub 시험판 API를 준수하는 리소스를 제공하는 URL을 지정합니다. 자체 업데이트 서버를 설정하는 방법에 대한 자세한 내용은 위키를 참조하십시오."
    IDS_UPDATES_CHECK "업데이트 확인"
    IDS_UPDATES_INSTALL "프로그램을 업데이트하고 탐색기를 다시 시작"
    IDS_UPDATES_CHANGES "최신 릴리스 변경 사항 정보"
    IDS_UPDATES_LEARN "자세히 보기"

    IDS_ADV "고급 설정"

    IDS_ADV_DISCLAIMER "이 설정은 관련 문서를 읽은 후에만 변경하십시오."
    IDS_ADV_LEARN "자세히 보기"
    IDS_ADV_CONSOLE "콘솔 사용"
    IDS_ADV_MEMCHECK "메모리 누수 덤프"
    IDS_ADV_AUTOHIDE "작업 표시줄을 두 번 클릭하여 자동으로 숨기는 설정 간 전환(고정된 경우에만)"
    IDS_ADV_PAINTDESKTOPVERSION "Windows 빌드 정보를 바탕 화면에 표시"
    IDS_ADV_CLASSICTHEME "클래식 테마를 사용하여 올바른 렌더링을 위한 고급 완화 사용"
    IDS_ADV_SYSLISTVIEW32 "탐색기 보기에서 SysListView32 사용"
    IDS_ADV_NOPROPERTIES "작업 표시줄의 컨텍스트 메뉴를 변경하지 않음(예: ""속성""항목 숨기기)"
    IDS_ADV_SYMBOLS "심볼 다운로드 사용"
    IDS_ADV_PINNEDITEMS "고정된 항목이 빠른 시작으로 작동합니다(활성 앱과 그룹화되지 않음)"
    IDS_ADV_REMOVEEXTRAGAP "작업 표시 줄에 버튼 레이블이 표시되면 고정 항목 주변의 여분의 틈을 제거합니다."
    IDS_ADV_DELAY "로그온 시 지연 시간 지원"
    IDS_ADV_DELAY_0 "없음(기본값)"
    IDS_ADV_DELAY_300 "300 ms"
    IDS_ADV_DELAY_600 "600 ms"
    IDS_ADV_DELAY_1000 "1분"
    IDS_ADV_DELAY_1500 "1.5분"
    IDS_ADV_DELAY_2000 "2분"
    IDS_ADV_DELAY_3000 "3분"
    IDS_ADV_DELAY_4000 "4분"
    IDS_ADV_DELAY_5000 "5분"
    IDS_ADV_DELAY_6000 "6분"
    IDS_ADV_DELAY_8000 "8분"
    IDS_ADV_DELAY_10000 "10분"
    IDS_ADV_XAMLSOUNDS "탐색기의 XAML 보기에서 UI 사운드 사용"

    IDS_ABOUT "이 프로그램 정보"

    IDS_ABOUT_VERSION "버전 %d.%d.%d.%d%s"
    IDS_ABOUT_PROJECT "이 프로젝트는 Windows에서 작업 환경을 개선하기 위한 것입니다."
    IDS_ABOUT_AUTHOR "Valentin-Gabriel Radu에 의해 설계되었습니다."
    IDS_ABOUT_OS "%s, OS 빌드 %d.%d에서 실행 중입니다."
    IDS_ABOUT_GITHUB "프로젝트 GitHub"
    IDS_ABOUT_WEBSITE "웹 사이트"
    IDS_ABOUT_DONATE "기부"
    IDS_ABOUT_FAQ "자주 묻는 질문"
    IDS_ABOUT_SETTINGS "이 설정 관리에 대해 자세히 알아보기"
    IDS_ABOUT_IMPORT "설정 가져오기"
    IDS_ABOUT_EXPORT "현재 설정 내보내기"
    IDS_ABOUT_EXPORT_SUCCESS "설정 내보내기에 성공했습니다."
    IDS_ABOUT_RESET "기본 설정 복원"

    IDS_FOOTER_RESTART "탐색기 다시 시작"
END
